<!-- book showページ -->
<div class="container">
  <% if @book.errors.any? %>
    <%= @book.errors.count %>件のエラーが発生しました
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  
  <div class="row">
    <%= render 'share', books: @books, users: :@users %>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user.id) do %>
                <%= image_tag @books.user.get_profile_image(100,100) %><br>
                <%= @books.user.name %>
              <% end %>
            </td>
            <td><%= link_to @books.title, book_path(@books.id) %></td>
            <td><%= @books.body %></td>

            <% if @books.user == current_user %>
              <td>
                <%= link_to "Edit", edit_book_path(@books.id), class: "btn btn-sm btn-success" %>
              </td>
              <td>
                <%= link_to "Destroy", book_path(@books.id), method: :delete, class: "btn btn-sm btn-danger"%>
              </td>
            <% end %>
            </rd>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>